/* CSS Variables */

:root {
  --primaryColor: #ff8474;
  --secondColor: #ffc996;
  --tertiaryColor: #9f5f80;
  --fourthColor: #583d72;
  --backgroundColor: #090031;
  --backgroundColor2: #f9f8fe;
  --textColor: #212529;
  --textColor2: #f9f8fe;
  --textColor3: #d6d6d6;
  --defaultColor: #fff;
  --borderColor: #dbeefd;
  --borderColor2: #39325a;
  --iconColor: #797979;
  --boxShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  --boxShadowButton: 0 20px 20px -5px rgba(253, 80, 86, 0.2);
  --background: linear-gradient(
    90deg,
    rgba(130, 47, 34, 0.6) 0%,
    rgba(255, 255, 255, 0.16) 100%
  );
  --background2: linear-gradient(
    0deg,
    #090031 0%,
    rgba(9, 0, 49, 0.0508578) 22%
  );
  --background3: linear-gradient(
    0deg,
    #090031 -22%,
    rgba(255, 255, 255, 0.16) 100%
  );

  /* font family variable */
  --rubik: "Rubik", system-ui;
}
